<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.mobfox.cordova.plugin" version="1.0.0">
    <name>MobFox Plugin</name>
    <description>Cordova MobFox Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,MobFox,Banner,Interstitial</keywords>
    
    <js-module src="www/MobFoxPlugin.js" name="MobFoxPlugin">
        <clobbers target="window.MobFoxPlugin" />
    </js-module>

	<dependency id="com.google.cordova.admob"/>

    <platform name="ios">
    	<config-file target="config.xml" parent="/*">
        	<feature name="MobFoxPlugin">
            	<param name="ios-package" value="MobFoxPlugin" />
    		</feature>
    	</config-file>
        <header-file src="src/ios/MobFoxPlugin.h"/>
        <source-file src="src/ios/MobFoxPlugin.m"/>
         
        <framework src="src/ios/MobFox.framework" custom="true"/>
        
        <framework src="AudioToolbox.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="iAd.framework"/>
        <framework src="StoreKit.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="MessageUI.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="EventKit.framework"/>
        <framework src="EventKitUI.framework"/>
        <framework src="AdSupport.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="CoreLocation.framework"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="CoreGraphics.framework"/>
	</platform>

    <platform name="android">
    	<config-file target="res/xml/config.xml" parent="/*">
        	<feature name="MobFoxPlugin">
            	<param name="android-package" value="com.mobfox.cordova.plugin"/>
            	<param name="onload" value="true" />
            </feature>
        </config-file>
        
        <source-file src="src/android/MobFoxPlugin.java" target-dir="src/com/mobfox/cordova/plugin" />
		
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        	<activity android:name="com.mobfox.sdk.interstitialads.InterstitialActivity" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
	    	<uses-permission android:name="android.permission.INTERNET" />
    		<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
          
        <source-file src="src/android/MobFox-Android-SDK-Core-2.0.7.jar" target-dir="libs" />
     </platform>

</plugin>