<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdk.mobfox.com.appcore">

    <!--<uses-permission android:name="android.permission.INTERNET"></uses-permission>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>-->

    <!-- These permissions are strongly recommended and will result in higher performance -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">

        <!--<meta-data android:name="applovin.sdk.key"-->
        <!--android:value="2W6sf_DINqIc8ELAsISeWNohxcgTd3afagWFgkX2Xrfg30rvIHTpfLVbzB3aFeErJl4-Tb00QggUgVOzoynSHH"  />-->
        <!--<activity android:name="com.applovin.adview.AppLovinInterstitialActivity"-->
        <!--android:configChanges="orientation|screenSize" /> &lt;!&ndash; NEW!!! These flags will result in higher performance &ndash;&gt;-->
        <!--<activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />-->

        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.STARTINGPOINT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".UseBannerAd" android:hardwareAccelerated="true"></activity>
        <activity android:name=".UseNativeAd"></activity>
        <activity android:name=".UseInterstitialAd"></activity>
        <activity android:name=".UseSmartBanner"></activity>
        <activity android:name=".UseDummyAdapter"></activity>
        <activity android:name=".RTBView"></activity>
        <activity android:name=".CustomSizeBanner"></activity>
        <activity android:name=".SevenBanners"></activity>

       <activity android:name="com.mobfox.sdk.interstitialads.InterstitialActivity" android:configChanges="orientation"></activity>
    </application>

</manifest>
